input {
    background: yellow;
    border: 1px dashed red;
    margin-top: 3px;
}
.nome {
    width: 100%;
}
hr {
    width: 100%;
    margin: 0;
}

button {
    color: blue;
    display: inline-block;
    
}
div {
    text-align: center;
}