* {
    margin: 0px;
    padding: 0px;
}
.nome {
    background: yellow;
    border: 1px dashed red;
    margin-top: 3px;
    width: 50%;
}
.email {
    background: yellow;
    border: 1px dashed red;
    margin-top: 3px;
}

.tituloh5 {

    border-bottom:  2px solid black;
}

button {
    color: blue;
    display: inline-block;
    text-align: center;
    margin-left: 400px;
    
}
.cadastro {
    background: grey;
    margin: 0;
    padding: 0;
}